.mainButton{

   
    width: 100px;
    height: 100 px;
    color: white;
    background-color: blue;
    border: none;

}

.buttonRow{

    position:relative;
    top: 350px;
    text-align: center;
    

}

.mainMes{

    position: relative;
    top: 325px;
    text-align: center;
    font-size: 24;
    font-family: 'Courier New', Courier, monospace;
}


.mainContainer{
    position:relative;
    height: 100%;
    width:100%;
    
}

.mainMess{
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 24;
    font-family: 'Courier New', Courier, monospace;
    
}

.mainCont{
    position:relative;
    height: 800px;
    width:100%;
    
}

.hangArea{
    position: relative;
    top:55px;
    text-align: center;
   
}

.image{
    height: 60%;
    width: 40%;
}

.textRow{
    position: relative;
    top: 20px;
    text-align: center;

}

.box{
    width: 30px;
    font-size: 24;
    margin: 7px;
    background-color: beige;
    border-bottom:2px solid black ;
    border-left:none;
    border-top: none;
    border-right:none;
    text-align: center;
    
}

.resRow{
    position:relative;
    top: 45px;
    text-align: center;
    font-size: 24;
    font-family: 'Courier New', Courier, monospace;
}